<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<style>
    #hide-2 {
        display: none;
    }
    @media(max-width: 992px) {
        #hide-2 {
            display: block;
        }
        #hide-1 {
            display: none;
        }
    }
</style>
<body>
<header class="mb-9">
    <%- include('layouts/navBar') -%>
</header>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7 mb-4 text-lg-start">
                <div class="col-12 mb-4 mt-5">
                    <% if(loggedIn) { %>
                        <a href="/newHealthyLife" class="btn btn-outline-primary me-2 rounded-pill">Have A New Post To Add ?</a>
                    <% } %>
                    <% if(health != "") { %>
                        <a href="#healthPost" class="btn btn-outline-dark me-2 rounded-pill">View My Post</a>
                    <% } %>
                </div>
                <h1 class="text-danger mb-2">Ch<i class="fas me-1 fa-heart"></i><i class="fas me-1 fa-heart"></i>se Healthy Life</h1>
                <hr class="my-3 w-25">
                <h3 class="display-1 fw-bold mb-4">Dr. Valentina Stubbs

                </h3>
                <p class="lead text-info mb-3">
                    Join us for a discussion with Dr. Stubbs as she explores the topic of depression.
                </p>
                <p class="lead text-info mb-3">
                    Friday, March 13, 2026 @ 12:00PM. AME Zion Church of Newburgh <br>
                    <address>109 Washington Street <br> Newburgh, NY 12550</address>
                </p>
                <p class="text-muted mb-2">
                    For More information, please call me at 845-569-8114
                </p>
                <section>
                    <!-- Facebook -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #3b5998;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-facebook-f"></i
                        ></a>

                    <!-- Twitter -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #55acee;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-twitter"></i
                        ></a>

                    <!-- Google -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #dd4b39;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-google"></i
                        ></a>

                    <!-- Instagram -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #ac2bac;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-instagram"></i
                        ></a>

                    <!-- Linkedin -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #0082ca;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-linkedin-in"></i
                        ></a>
                    <!-- Github -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #333333;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-github"></i
                        ></a>
                </section>
            </div>
            <div class="col-lg-5 mb-4">
                <img src="/assets/valentina_stubbs_full.png" id="hide-1" class="img-fluid w-100" alt="valentina_stubbs" />
                <img src="/assets/valentine_stubbs_short.png" id="hide-2" class="img-fluid w-100" alt="valentina_stubbs" />
            </div>
            <div id="healthPost" class="col-12 mt-3">
                <div class="row justify-content-center align-items-center mx-auto tetx-center py-2 me-1">
                    <% for(i=0; i < health.length; i++) { %>
                        <a href="/singleArticle/<%= health[i]._id %>">
                            <div class="col-lg-3 col-md-6 p-3">
                                <div class="card p-2">
                                    <div class="card-body">
                                        <p class="h6">
                                            <%= health[i].summary %>
                                        </p>
                                        <p class="h3 fw-bold text-info text-decoration-underline"><%= health[i].title %></p>
                                        <p>
                                            From: <%= health[i].date %> at <%= health[i].time %>, To <%= health[i].date2 %> at <%= health[i].time2 %>
                                        </p>
                                        <p>
                                            <a href="/delete/healthyData/<%= health[i]._id %>" class="btn btn-warning-outline rounded-pill">Delete This</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>