<!doctype html>
<html lang="en">
<%- include("layouts/head") -%>
<body>
<header class="bg-intro">
    <%- include("layouts/navBar") -%>
    <%- include("components/home/intro") -%>
</header>
<main>
    <section class="container my-5 py-3">
        <%- include("components/home/articles") -%>
        <%- include("components/home/about") -%>
    </section>
    <%- include("components/home/banner") -%>
    <section class="container mb-7">
        <%- include("components/home/programs") -%>
        <!-- Section: Design Block -->
        <%- include("components/home/section-1") -%>
        <!-- Section: Design Block -->
        <%- include("components/home/accordion") -%>
        <%- include("components/home/contact-form") -%>
    </section>
</main>
<%- include("layouts/footer") -%>
</body>
</html>
