<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<style>
    .intro-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://static.vecteezy.com/system/resources/thumbnails/011/890/681/small_2x/christ-religion-and-christianity-worship-or-pray-concept-christian-catholic-woman-are-praying-to-god-in-dark-at-church-prayer-person-hand-in-black-background-girl-believe-and-faith-in-jesus-christ-photo.jpg"),
        no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
        height: 60vh;
    }
</style>
<body>
<header class="intro-bg">
    <%- include('layouts/navBar') -%>
    <section class="container">
        <div class="row justify-content-center text-white align-items-center"
             style="height: 70vh;">
            <div class="col-lg-12 text-center">
                <h1 class="text-info display-2">Prayer Request</h1>
            </div>
        </div>
    </section>
</header>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center flex-row-reverse align-items-center mb-6">
            <div class="col-lg-5 mb-lg-0 mb-3">
                <img src="/assets/hands.png"
                     class="img-fluid w-100"
                     alt="request">
            </div>
            <div class="col-lg-7 text-md-start text-center">
                <form action="/upload/prayer" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Name input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="form4Example1" name="name" class="form-control" />
                                <label class="form-label" for="form4Example1">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Email input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="email" id="form4Example2" name="email" class="form-control" />
                                <label class="form-label" for="form4Example2"
                                >Your Email</label
                                >
                            </div>
                        </div>
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Name input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="personsName" name="theirName" class="form-control" />
                                <label class="form-label" for="personsName">Their Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Email input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="requestType" name="requestType" class="form-control" />
                                <label class="form-label" for="requestType"
                                >Request Type</label
                                >
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Message input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <textarea
                                        class="form-control"
                                        id="form4Example3"
                                        name="details"
                                        rows="7"
                                ></textarea>
                                <label class="form-label" for="form4Example3">More Details About This</label>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4" data-mdb-ripple-init>
                                Share It Now
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-md-start justify-content-center text-md-start text-center">
            <% for(i=0; i<prayers.length; i++) { %>
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                    <p class="text-muted">
                        <strong>Request Type:</strong> <%= prayers[i].requestType %> <br>
                        <strong>Request From:</strong> <%= prayers[i].name %>
                    </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                        Read Request
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Pray For <%= prayers[i].theirName %></h5>
                                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <%= prayers[i].details %>
                                    <br><br>
                                    Contact Requestor At: <email><a href="mailto:<%= prayers[i].email %>"><%= prayers[i].email %></a></email>
                                    <br><br>
                                    <i>Posted On:</i> <%= prayers[i].datePosted.toString() %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>